
.DS_Store

MotionJpegImageView.xcodeproj/project.xcworkspace/xcuserdata/antondukhovnikov.xcuserdatad/UserInterfaceState.xcuserstate

MotionJpegImageView.xcodeproj/project.xcworkspace/contents.xcworkspacedata

MotionJpegImageView.xcodeproj/project.xcworkspace/xcuserdata/antondukhovnikov.xcuserdatad/WorkspaceSettings.xcsettings

MotionJpegImageView.xcodeproj/xcuserdata/antondukhovnikov.xcuserdatad/xcschemes/MotionJpegImageView.xcscheme

MotionJpegImageView.xcodeproj/xcuserdata/antondukhovnikov.xcuserdatad/xcschemes/xcschememanagement.plist
